.card-form {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 500px;
    width: 100%;

    .form-header {
        font-weight: 600 !important;
    }

    .btn-form-submit {
        font-size: 25px !important;
        font-weight: 600 !important;
        background-color: #2196f3 !important;
        color: #fff;
    }
}

a {
    text-decoration: none;
}
