
//Story Valley colours
$red1: #DF565B;
$red2: #FF5252;
$grey: #707070;
$yellow: #FFAF3B;



// w3.css colors
$w3-amber: #ffc107 !default;
$w3-aqua:#00ffff !default;
$w3-blue:#2196F3 !default;
$w3-light-blue:#87CEEB !default;
$w3-brown:#795548 !default;
$w3-cyan:#00bcd4 !default;
$w3-blue-grey:#607d8b !default;
$w3-green:#4CAF50 !default;
$w3-light-green:#8bc34a !default;
$w3-indigo:#3f51b5 !default;
$w3-khaki:#b4aa50 !default;
$w3-lime:#cddc39 !default;
$w3-orange:#ff9800 !default;
$w3-deep-orange:#ff5722 !default;
$w3-pink:#e91e63 !default;
$w3-purple:#9c27b0 !default;
$w3-deep-purple:#673ab7 !default;
$w3-red:#f44336 !default;
$w3-sand:#fdf5e6 !default;
$w3-teal:#009688 !default;
$w3-yellow:#d2be0e !default;
$w3-whilor:#fff !default;
$w3-blalor:#000 !default;
$w3-grey:#757575 !default;
$w3-light-grey:#f1f1f1 !default;
$w3-dark-grey:#3a3a3a !default;
$w3-pale-red:#ffdddd !default;
$w3-pale-green:#ddffdd !default;
$w3-pale-yellow:#ffffcc !default;
$w3-pale-blue:#ddffff !default;

$bs-primary:       #0d6efd !default;
$bs-secondary:     #6c757d !default;
$bs-success:       #198754 !default;
$bs-info:          #0dcaf0 !default;
$bs-warning:       #ffc107 !default;
$bs-danger:        #dc3545 !default;
$bs-light:         #f8f9fa !default;
$bs-dark:          #212529 !default;